<!-- <p style="font-size: small;color: #999;">Using database: species.jrc.org</p> -->
<hr/>
<div style="padding-left:10px">
	<div>
		<a href="http://ec.europa.eu/index_en.htm" target="_new" title="European Commision Homepage"><img src="../../images/jrc.jpg"/></a>
		<a href="http://www.iucn.org/" target="_new" title="IUCN Homepage"><img src="../../images/iucn.png"/></a>
		<a href="http://www.unep-wcmc.org/" target="_new" title="UNEP-WCMC Homepage"><img src="../../images/wcmc.png"/></a>
	</div>
	<div class="normal" style="padding-top: 10px">
		Web services cannot be used for commercial purposes and should acknowledge the source. JRC would like to be informed should the web services be used regularly. For full terms and conditions see <a href='terms' target='_help'>here</a>.
	</div>
</div>
