$def with (schemaname, servicename, servicedesc, inparams, outparams, header, footer)
<html>
	<head>
		<title>DOPA Web Services</title>
		<link rel="stylesheet" type="text/css" href="../../../styles/styles.css" />
	</head>
	<body>
		$:header
		<h2><a href="../../services/">Schemas</a> | <a href="../$schemaname/">$schemaname[:1]$schemaname[1:2].upper()$schemaname[2:] Schema</a> | $servicename Service</h2>
		<table class="table" cellspacing="0"><a><tr><th>Service</th><th colspan="4">Description</th></tr>
		<tr><td>$servicename</td><td colspan="4" style="padding-bottom: 15px">$:servicedesc</td></tr>
		
		$if inparams:
			<tr><td></td><th colspan="4">Input Parameters</th></tr>
			<tr><td></td><td class="smallth" style="min-width: 100px">Name</td><td class="smallth">Description</td><td class="smallth" style="min-width: 140px">Type</td><td class="smallth" style="min-width: 60px">Default value</td></tr>
				
			$for inparam in inparams:
				$if inparam['default']=='':
					<tr><td></td><td>$inparam['name']</td><td>$:inparam['description']</td><td>$inparam['type']</td><td>$:inparam['default']</td></tr>
				$else:
					<tr><td></td><td><i>$inparam['name']</i></td><td>$:inparam['description'] (optional)</td><td>$inparam['type']</td><td>$:inparam['default']</td></tr>
			<tr><td></td><td colspan="4" style="padding-bottom: 15px">The standard optional parameters are not shown (see the Help Documentation for more information)</td></tr>
		
		$if outparams:		
			<tr><td></td><th colspan="4">Output Parameters</th></tr>
			<tr><td></td><td class="smallth">Name</td><td class="smallth">Description</td><td class="smallth" colspan="2">Type</td></tr>

			$for outparam in outparams: 
				<tr><td></td><td>$outparam['name']</td><td>$:outparam['description']</td><td colspan="2">$outparam['type']</td></tr>
			
		<tr><td></td><th colspan="4">Example calls</th></tr>
		<tr><td></td><td colspan="4" class="smallth">Mandatory parameters</td></tr>
			
		$def getqueryparams(params, queryparams):
			$for param in params:
				$ value = "1"
				$if (param['name'] in ['country_id','countryid']):
					$ value = "388"
				$elif (param['name'] in ['wdpa_id','wdpaid']):
					$ value = "220101" 
				$elif (param['name'] in ['iucn_species_id','species_id','speciesid']):
					$ value = "6027"
				$elif (param['name'] in ['ecoregionid']):
					$ value = "10122"
				$elif (param['name'] in ['startdate']):
					$ value = "20120101"
				$elif (param['name'] in ['enddate']):
					$ value = "20121221"
				$elif (param['name'] in ['latitude']):
					$ value = "17.7374874801628"
				$elif (param['name'] in ['longitude']):
					$ value = "-77.1214580575966"
				$elif (param['name'] in ['taxonomicgroup']):
					$ value = "AVES"
				$if (param['type']=='array'):
					$if (param['default']!=''):
						$if ',' in param['default']:
							$ value = param['default'].split(',')[0] + ',' + param['default'].split(',')[1]
						$else:
							$ value = param['default']
					$else:
						$ value = "1,2"
				$if (param['type']=='date'):
					$ value = "03/31/2012"
				$ queryparams.append(param['name'] + "=" + value)

		$ querystring = "?"
		$ mandatoryquerystring = "?"
		$if inparams:
			$ queryparams = []
			$# build the mandatory parameters for the query string
			$ getqueryparams([p for p in inparams if (p['default']== '')], queryparams)
			$ mandatoryquerystring = "?" + "&".join([param for param in queryparams])
			$# build the optional parameters for the query string
			$ getqueryparams([p for p in inparams if (p['default']!= '')], queryparams)
			$ querystring = "?" + "&".join([param for param in queryparams])
		$if mandatoryquerystring!='?':		
			<tr><td></td><td colspan="4"><a href='$mandatoryquerystring' target='__examplecall' title="Example call" class="example">$mandatoryquerystring</a></td></tr>
		<tr><td></td><td colspan="4" class="smallth">Optional parameters</td></tr>
		$if len(mandatoryquerystring)!=len(querystring):
			<tr><td></td><td colspan="4"><a href='$querystring' target='__examplecall' title="Example call" class="example">$querystring</a></td></tr>
		$if querystring!='?': 
			$ prefix = querystring + '&' 
		$else:
			$ prefix = querystring
		<tr><td></td><td colspan="4"><a href='$(prefix)format=xml' target='__examplecall' title="Example call" class="example">$(prefix)format=xml</a></td></tr>
		<tr><td></td><td colspan="4"><a href='$(prefix)format=array&includemetadata=false' target='__examplecall' title="Example call" class="example">$(prefix)format=array&includemetadata=false</a></td></tr>
		$if (len(outparams)>0):
			<tr><td></td><td colspan="4"><a href='$(prefix)format=json&fields=$outparams[0]['name']' target='__examplecall' title="Example call" class="example">$(prefix)format=json&fields=$outparams[0]['name']</a></td></tr>
		</table>
		
		$:footer		
	</body>
</html>
