$def with (schemas, header, footer)
<html>
	<head>
		<title>DOPA Web Services Sandbox</title>
		<link rel="stylesheet" type="text/css" href="../styles/styles.css" />
	</head> 
	<body>
		$:header
		<div class="breadcrumb">Schemas</div>
		$if schemas:
			<table class="table" cellspacing="0"><tr><th>Schema</th><th>Description</th><th>More information</th></tr>
			$for schema in schemas:
				$ schemaurl = "http://" + schema['name'] +  ".jrc.ec.europa.eu/"
				<tr><td><a href="$schema['name']/">$schema['name'][:1]$schema['name'][1:2].upper()$schema['name'][2:]</a></td><td>$schema['description']</td><td><a href="$schemaurl" target="_new">$schemaurl</a></td></tr>
			</table>
		$else:
		    <p>No content</p>
		$:footer
	</body>
</html>